<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Plant Diseases Classifier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>

  <footer style="position: static; display: flex; bottom: 10px; justify-content: center; padding-top: 20px;">
    <a href="{{ url_for('modeling') }}">
      <img src="https://imgs.developpaper.com/imgs/3614431017-5d4c573bbdc0c_articlex.png" width="100px" height="40px">
    </a>&emsp;
    <a href="#">
      <img src="https://pngimg.com/uploads/github/github_PNG15.png" width="75px" height="30px">
    </a>
  </footer>

  <script src="{{ url_for('static',filename='script.js') }}"></script>
</html>